* {
    padding: 0px;
    margin: 0px;
    font-family: Arial;
    font-weight: 400;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 50px;
    box-sizing: border-box;
}

.header {
    background-color: #445162;
    display: flex;
    justify-content: space-between;
}

.header-heading {
    font-size: 60px;
    color: #fff;
    margin: 0 0 50px 0;
    line-height: 45px;
}

.header-list {
    list-style: none;
    color: #fff;
    font-size: 20px;
}

.header-list-item {
    margin: 0 0 15px 0;
}

.header-list-item:last-child {
    margin: 0;
}

.header-list-item::before {
    content: url(../img/icon25x19.png);
    margin: 0 10px 0 0;
}

.about-heading {
    font-size: 30px;
    color: #445161;
    margin: 0 0 30px 0;
    line-height: 30px; 
}

.about-text {
    font-size: 16px;
    width: 660px;
    color: #333333;
    margin: 0 0 25px 0;
}
.about-text:last-child {
    margin: 0;
}

.about {
    display: flex;
    justify-content: space-between;
}

.dignity {
    background-color: #f5f5f5;  
}

.dignity-heading {
    font-size: 30px;
    color: #445161;
    margin: 0 0 30px 0;
    line-height: 30px;  
    text-align: center;  
}

.dignity-list {
    display: flex;
    flex-wrap: wrap;
}

.dignity-list-item {
    font-size: 16px;
    color: #333333;  
    width: 50%;
    list-style: none;
    margin: 0 0 40px 0px;
}

.dignity-list-item:nth-child(5) {
    margin: 0;
}

.dignity-list-item:nth-child(6) {
    margin: 0;
}

.dignity-text {
    display: flex;
    font-size: 16px;
    color: #333333;
}

.dignity-text::before {
    content: url(../img/plus-icon32x32.png);
    margin: 0 10px 0 0;
}

.screenshots-heading {
    font-size: 30px;
    color: #445161;
    text-align: center;
    margin: 0 0 35px 0;
}

.screenshots-img {
    width: 200px;
    height: 150px;
    background-color: #445162;
    display: block;
}

.screenshots-list {
    display: flex;
    flex-wrap: wrap;
}

.screenshots-list-item {
    display: flex;
    width: 48%;
    font-size: 16px;
    color: #333333; 
    list-style: none;
    margin: 0 10px 30px 0;
}

.screenshots-list-item-heading {
    font-size: 24px;
    line-height: 20px;
    color: #445161;
    margin: 0 0 15px 0;
}

.screenshots-list-item-text {
    font-size: 16px;
    color: #333333;
}

.screenshots-img {
    margin: 0 15px 0 0;
}

.screenshots-list-item:nth-child(3) {
    margin: 0 10px 0 0;
}

.screenshots-list-item:nth-child(4) {
    margin: 0 10px 0 0;
}

.reviews {
    background-color: #f5f5f5;
}

.reviews-heading {
    font-size: 30px;
    color: #445161;
    text-align: center;
    margin: 0 0 35px 0;
}

.reviews-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.reviews-list-item {
    list-style: none;
    width: 48%;
    display: flex;
    margin: 0 0 25px 0;
}

.reviews-text {
    font-size: 14px;
    font-style: italic;
    color: #333333;
    margin: 0 0 10px 0;
}

.reviews-discription {
    font-size: 14px;
    color: #989898;
}

.reviews-wrapper {
    background-image: url(../img/user-reviews-pic483x181.png);
    background-repeat: no-repeat;
    background-size: contain;
    padding: 15px 15px 15px 25px;
    margin: 0 0 0px 15px;
}

.reviews-list-item:nth-child(3) {
    margin: 0;
}

.reviews-list-item:nth-child(4) {
    margin: 0;
}

.buy-heading {
    font-size: 30px;
    color: #445161;
    text-align: center;
    margin: 0 0 30px 0;
}

.buy-boxes-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.buy-box {
    background-color: #445161;
    border-radius: 5px;
    border: 1px solid #445161;
    display: flex;
    flex-direction: column;
}

.buy-box-heading {
    text-align: center;
    color: #fff;
    font-size: 24px;
    padding: 18px 0;
}

.buy-boxes-text {
    color: #445161;
    background-color: #fff;
    font-size: 40px;
    padding: 18px 105px;
}

.buy-boxes-list {
    padding: 20px 20px 20px 40px;
}

.buy-boxes-list-item {
    font-size: 14px;
    color: #fff;
    margin: 0 0 5px 0;
}

.buy-boxes-list-item:last-child {
    margin: 0;
}

.buy-boxes-button {
    color: #445161;
    text-align: center;
    font-size: 18px;
    padding: 14px 110px;
    border-radius: 5px;
    background-color: #fff;
    margin: 0 0 20px 0;
    align-self: center;
    font-weight: bolder;
    border: none;
    text-transform: uppercase;
}

.buy-box:nth-child(2) {
    margin: 0 45px;
}

.footer-heading {
    text-align: center;
    font-size: 30px;
    color: #fff;
    margin: 0 0 30px 0;
}

.footer {
    background-color: #445161;
}

form {
    display: flex;
    flex-direction: column;
    width: 520px;
    margin: 0 45px 45px 0;
}

textarea {
    resize: none;
    height: 170px;
}

input,
textarea {
    padding: 14px 10px;
    border-radius: 5px;
    border: none;
    width: 500px;
    display: block;
    margin: 0 0 21px 0;
}

.footer-form-button {
    text-transform: uppercase;
    padding: 14px 48px;
    border-radius: 5px;
    border: none;
    color: #445161;
    background-color: #fff;
    text-align: center;
    font-size: 16px;
    font-weight: bolder;
    align-self: center; 
}

.footer-list {
    list-style: none;
}

.footer-list-item-link {
    font-size: 16px;
    font-style: normal;
    color: #fff;
    text-decoration: none;
}

.footer-wrapper {
    display: flex;
    justify-content: center;
}

.footer-list-item:nth-child(1) a::before {
    content: url(../img/icon-skype24x26.png);
    margin: 0 5px 0 0;
    vertical-align: middle;
}

.footer-list-item:nth-child(2) a::before {
    content: url(../img/icon-icq26x26.png);
    margin: 0 5px 0 0;
    vertical-align: middle;
}

.footer-list-item:nth-child(3) a::before {
    content: url(../img/icon-email22x22.png);
    margin: 0 5px 0 0;
    vertical-align: middle;
}

.footer-list-item:nth-child(4) a::before {
    content: url(../img/icon-phone24x23.png);
    margin: 0 5px 0 0;
    vertical-align: middle;
} 

.footer-list-item {
    margin: 0 0 21px 0;
}

.footer-list-item:last-child {
    margin: 0 0 31px 0;
}

.footer-container {
    max-width: 1280px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 50px 0 0 0;
}

.footer-copyright {
    color: #445162;
    font-size: 12px;
    text-align: center;
    background-color: #f5f5f5;
    padding: 10px 0;
}

button:hover {
    color:#fff;
    background-color: #f5f5f53d;
}

button:active {
    background-color: #f5f5f500;
}

input:focus,
textarea:focus {
    background-color: #f5f5f53d;
    color: #fff;
}

input:hover,
textarea:hover {
    background-color: #f5f5f53d;
    color: #fff;
}

input:active,
textarea:active {
    background-color:darkred;
}

.footer-list-item-link:hover {
    opacity: 70%;
}

.footer-list-item-link:active {
    opacity: 30%;
}  

.footer-list-social {
    list-style-type: none;
    display: flex;
}

.footer-social-links-wrapper {
    display: flex;
    justify-content: space-between;
}

.footer-social-links {
    background-image: url(../img/social-media-icons-sprite.png);
    width: 60px;
    height: 60px;
}

.footer-social-links:nth-child(1) {
    background-position: 0 58px;
}

.footer-social-links:nth-child(1):hover {
    background-position: 0 0;
} 

.footer-social-links:nth-child(2) {
    background-position: -57px 57px;
}

.footer-social-links:nth-child(2):hover {
    background-position: -57px -1px;
}

.footer-social-links:nth-child(3) {
    background-position: -114px 57px;
}

.footer-social-links:nth-child(3):hover {
    background-position: -114px -1px;
}

.footer-social-links:nth-child(4) {
    background-position: -228px 57px;
}

.footer-social-links:nth-child(4):hover {
    background-position: -228px -1px;
}

.footer-social-links:nth-child(5) {
    background-position: -396px 57px;
}

.footer-social-links:nth-child(5):hover {
    background-position: -396px -1px;
}

.icon-svg {
    fill: #fff;
    
}

.icon-svg:hover {
    fill: #f5f5f5c9;
}


